<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
c'est bon effecuté ! 
    
<script>
document.querySelector('#search').addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
	
      window.location = e.target.value
    }
});



</script>
</body>
</html>